# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/*
.cache/*
.vscode/
.cache/
*/compile_commands.json
temp.log
temp.errors
*.ini
.d/
.vscode/*
.vscode/
compile_commands.json