# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/*
.cache/*
.vscode/
.cache/
.cache\*
.cache
cache
compile_commands
*/compile_commands.json
temp.log
temp.errors
*.ini
.d/
.vscode/*
.vscode/
*compile_commands.json
